@media screen and (max-width:700px) {
  header .container{
    height: 9rem;
    display: flex;
    flex-direction: column;
    }
    .botao{
      margin-top: 5px;
      width: 190px;
      height: 60px;
    }
    .logar{
      margin-bottom: 1rem;
    }
    nav a{
      margin-bottom: 1rem;
    }
    
}

@media screen  and (min-width:1000px){
  .descricao{
    width: 50%;
  }
}